.main-wrapper

  address.footer__contacts
    a.footer__phone(href="tel:+79992223344") Телефон: +7-999-222-33-44
    a.footer__mail(href="mailto:some@gmail.ru") some@gmail.ru

  .footer__social
    span.visually-hidden Социальные сети
    ul.footer__social-list
      li.social__item
        a.social__button.social__button--vk(href="#" title="Вконтакте") 
          span.visually-hidden Вконтакте
      li.social__item
        a.social__button.social__button--vk(href="#" title="Вконтакте") 
          span.visually-hidden Вконтакте
      li.social__item
        a.social__button.social__button--vk(href="#" title="Вконтакте") 
          span.visually-hidden Вконтакте
      li.social__item
        a.social__button.social__button--vk(href="#" title="Вконтакте") 
          span.visually-hidden Вконтакте
