.main-wrapper

  address.footer__contacts
    a.footer__phone(href="tel:+79992223344") Телефон: +7-999-222-33-44

  .footer__social
    span.visually-hidden Социальные сети
    ul.footer__social-list
      li.social__item
        a.social__button.social__button--mail(href="mailto:some@gmail.ru") 
          span.visually-hidden some@gmail.ru
      li.social__item
        a.social__button.social__button--in(href="#" title="Инстаграм") 
          span.visually-hidden Инстаграм
      li.social__item
        a.social__button.social__button--fb(href="#" title="Фейсбук") 
          span.visually-hidden Фейсбук
      li.social__item
        a.social__button.social__button--vk(href="#" title="Вконтакте") 
          span.visually-hidden Вконтакте
      li.social__item
        a.social__button.social__button--yt(href="#" title="Ютуб") 
          span.visually-hidden Ютуб
