doctype html
html(lang="ru")
  head
    block meta
      meta(charset="utf-8")
      //- meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width initial-scale=1")
      meta(name="format-detection" content="telephone=no")
      meta(name="description" content="boilerplate template")
    block title
      title Тайтл
    block links
      link(rel="stylesheet", href="css/normalize.css")
      link(rel="stylesheet", href="css/min-style.css")
      link(rel="stylesheet", href="css/style.css")
      link(rel="preload", href="fonts/ptsans.woff2" as="font")
      link(rel="preload", href="fonts/ptsansbold.woff2", as="font")

  body
    block page
      header.header-section
        include ./header.pug

      main.main-content
        block contentBlock

      footer.footer-section
        include ./footer.pug

