extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  section.portfolio
    h1.visually-hidden Виртуальные туры
    .main-wrapper
      ul.portfolio__list
        li.portfolio__item
          a(href="./inner-page.html")
            picture
              //- source(type="image/webp" media="(min-width: 1280px)" srcset="img/main-city-desktop@1x.webp 1x, img/main-city-desktop@2x.webp 2x")
              //- source(type="image/webp" media="(min-width: 768px)" srcset="img/main-city-tablet@1x.webp 1x, img/main-city-tablet@2x.webp 2x")
              //- source(type="image/webp" srcset="img/main-city-mobile@1x.webp 1x, img/main-city-mobile@2x.webp 2x")
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x, img/main-city-desktop@2x.jpg 2x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы Описание работы Описание работы Описание работы Описание работы Описание работы Описание работы Описание работы"

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы "

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы"

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы"

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы"

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы"

        li.portfolio__item
          a(href="./inner-page.html")
            picture
              source(media="(min-width: 1280px)", srcset="img/cap_1280x600.png 1x")
              source(media="(min-width: 768px)", srcset="img/cap_768x400.png 1x")
              img.portfolio__image(src="./img/cap_320x200.png", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description 
              span "Описание работы"
            