extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  section.portfolio
    h1.visually-hidden Виртуальные туры
    .main-wrapper
      ul.portfolio__list
        li.portfolio__item
          a(href="./inner-page.html")
            picture
              img.portfolio__image(src="#", alt="Превью работы")
            .portfolio__demo
              .portfolio__youtube-preview
                a(href="#" title="Просмотр на Youtube") 
                  span.visually-hidden Просмотр на Youtube
              .portfolio__3d-tour-preview
                a(href="#" title="Просмотр 3D-тура") 
                  span.visually-hidden Просмотр 3D-тура
            p.portfolio__item-description "Описание работы 421"
            
